.home {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.home-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 300px;
  height: 300px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;

  background-color: var(--first-main-color);
}

.home-link-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 95%;
  height: 100px;
  margin: 10px;

  font-size: 25px;
}
